<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <p>
        Vietnam's #1 service for new arrivals & long term residents, making your life as easy as possible
      </p>
    </div>
    {% if site.twitter.username || site.facebook.username%}
      <div class="col-6 col-md">
        <h5>Social</h5>
        <ul class="list-unstyled text-small">
          {% if site.twitter.username %}
            <li><a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          {% endif %}
          {% if site.facebook.username %}
            <li><a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
          {% endif %}
          <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ '/about' | relative_url}}">Team</a></li>
        <li><a class="text-muted font-size-11" href="/contact-us/">Contact Us</a></li>
        <li><a class="text-muted" href="{{ '/privacy' | relative_url}}">Privacy</a></li>
        <li><a class="text-muted" href="{{ '/terms' | relative_url}}">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Information</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{ '/services' | relative_url}}">Services</a></li>
        <li><a class="text-muted" href="{{ '/pricing' | relative_url}}">Pricing</a></li>
        <li><a class="text-muted" href="{{ '/guides' | relative_url}}">Guides</a></li>
        <li><a class="text-muted" href="{{ '/blog' | relative_url}}">Blog</a></li>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</small>
    </div>
  </div>
</footer>
